form {
  
  background-color: none;
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.header {
  
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: rgb(17, 231, 45);
  text-align: center;
}

.github-profile {
  margin: 1rem;
  color: rgb(16, 233, 168);
  text-align: center;
}
.body{
  background-color: rgba(19, 215, 230, 0.87);
}
img {
  border-radius: 10px;
  border: solid rgb(236, 177, 14);
  width: 100px;
}
input{
  border-radius: 20px;
  background-color: none;
  border-top: none;
  border-left: none;
  border-right: none;
  
}
button{
  border-radius: 10px;
  width: 110px;
  background-color: rgba(8, 233, 222, 0.637);
  border: 2px solid rgba(218, 34, 10, 0.89);
}